/* * {
  border: 1px red solid;
} */

header {
  text-align: center;
}

pre {
  display: inline-block;
  background-color: #ddd;
  margin: 0 15px;
  padding: 15px;
}

span {
  font-family: monospace;
}
